# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Optional: uploads or temporary files
uploads/
tmp/

storage/